@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
body {
  background-color: #d6eadf;
  margin: 0;
  font-family: 'Kalam';
  width: 100%;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h5 {
  font-size: 25px;
}

a {
  color: black;
}

#title {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

#top-content,
#mid-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

#tagline {
  width: 600px;
  font-size: 40px;
  margin-bottom: 0.5rem;
}

#logo-gif {
  margin-top: 0px;
  text-align: center;
}

#logo-gif img {
  width: 300px;
  object-fit: fill;
}

#mid-content {
  background-color: #eac4d5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

#download-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

#download-section h2 {
  margin-bottom: 1rem;
}

#download-instructions {
  margin-top: 0;
  font-size: 16px;
}

#screen-record img {
  width: 300px;
}

#mid-text {
  width: 600px;
}

#small-text p {
  margin-right: 0;
  font-size: 16px;
}

#mid-text {
  padding: 3rem;
  text-align: right;
}

#fact {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

#fact-source a {
  margin: 0;
  font-size: 12px;
  text-align: right;
}

#contributors {
  background-color: #eac4d5;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

#credits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.single-credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding: 6px;
}

.single-contributor {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.single-contributor img {
  width: 150px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 300px;
}

.logos img {
  width: 25px;
  margin: 0.5rem;
  border: none;
  border-radius: 0;
}

#repo {
  text-align: center;
}
